version: '3.8'

services:
  db:
    image: ankane/pgvector:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: parallax
      POSTGRES_PASSWORD: password
      POSTGRES_DB: parallax_db
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
